* {
  margin: 0;
}

header {
  background-color: #333;
}

h1 {
  display: inline-block;
  color: #fff;
  font-size: 50px;
  padding: 10px 20px;
}

nav {
  float: right;
}

a {
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.navbar-item {
  display: inline-block;
  line-height: 78.4px;
  padding-right: 20px;
  padding-left: 20px;
}

a:hover {
  background-color: #5f5f5f;
}

img {
  width: 100%;
}

footer {
  padding-top: 30px;
  color: white;
  text-align: center;
  height: 100px;
  background-color: #333;
}




.form-item {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .submit-btn {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #45a049;
  }
  
  .registration-container {
    border-radius: 5px;
    background-color:lightgrey;
    padding: 20px;
  }