* {
    margin: 0;
  }
  
  header {
    background-color: #333;
  }
  
  h1 {
    display: inline-block;
    color: #fff;
    font-size: 50px;
    padding: 10px 20px;
  }
  
  nav {
    float: right;
    padding: 30px 0px;
    font-size: inherit;
  }
  
  a {
    padding: 30px 25px;
    color: #fff;
    text-decoration: none;
  }
  
  a:hover {
    background-color: #5f5f5f;
  }
  
  form {
    text-align: left;
  }
  label {
    text-align: left;
    position: relative;
    display: block;
    margin: 5px 0;
    padding: 0;
    }
    
    input[type=text], input[type=password] {
      width: 95%;
      padding: 5px 10px;
    }
    
    input[type=submit] {
      width: 40%;
      padding: 5px 10px;
      background-color: #333;
      color: white;
    }
  
  footer {
    padding-top: 30px;
    color: white;
    text-align: center;
    height: 100px;
    background-color: #333;
  }  
  .center {
    margin: auto;
    width: 40%;
    padding: 10px;
  }