* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  /* flex-wrap: nowrap; */
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #333;
}

.header__nav { 
  display: flex;
  flex-wrap: wrap;
  padding: 16px;
}

.header__nav a {
  font-family: Georgia, Times, serif;
  display: block;
  padding: 8px;
}

.header__nav a:hover {
  background-color: #5f5f5f;
}

.header__h1 {
  margin: 0px;
  display: block;
  color: #fff;
  font-size: 40px;
  padding: 20px;
}

a {
  color: #fff;
  text-decoration: none;
  display: block;
  }

.body__imgholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.imgholder__container {
  margin: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 240px;
}

.ime_dvorane {
width: 224px;
text-align: center;
margin-top: 8px;
padding: 8px;
border: 0;
color: #fff;
font-family: Tahoma, sans-serif;
background: #333;
box-shadow: 2px 2px 2px grey;
}

.imgholder__img {
  width: 240px;
  height: 160px;
  object-fit: cover;
  box-shadow: 2px 2px 2px grey;
}

/* Media querry za desktop */
@media only screen and (min-width: 920px) {
  .body__imgholder {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

footer {
  display: block;
  padding-top: 20px;
  color: white;
  text-align: center;
  height: 40px;
  background-color: #333;
}

footer h5 {
  font-family: Georgia, Times, serif;
}