* {
    margin: 0;
  }
  
  header {
    background-color: #333;
  }

  h1 {
    display: inline-block;
    color: #fff;
    font-size: 50px;
    padding: 10px 20px;
  }

  nav {
    float: right;
  }
  
  #nav {list-style: none;margin: 0;padding: 0;}
  #nav li {float: left;}
  #nav li a {display: block;padding: 30px 20px;}
  
  
  a {
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    display: inline
    }
  
  a:hover {
    background-color: #5f5f5f;
  }

#forma {
    height: 400px;
    width: 100%;
    padding: 100px 0px 0px 0px;
    background-color: gainsboro;
    font-family: Tahoma, sans-serif;
}

#forma label {
    margin: 5px 0px 5px 0px;
    display: block;
}


form {
    width:300px;
    margin: auto;
}

input {
    width: 300px;
    margin-bottom: 5px;
}

input[type=submit] {
    margin: 10px 0px 10px 0px;
    border-radius: 5px;
    border: 0;
    width: 100px;
    height: 30px;
    color: #fff;
    font-family: Tahoma, sans-serif;
    background: #333;
}

input[type=submit]:hover {
    background-color: black;
}

    footer {
    padding-top: 30px;
    color: white;
    text-align: center;
    height: 100px;
    background-color: #333;
  }